In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Bengaluru_House_Data.csv")
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
data.shape

(13320, 9)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

### count the number of values

In [5]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

### check for nulls

In [6]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
data.drop(columns=["area_type", "availability", "society", "balcony"], axis=1, inplace=True)

In [8]:
data.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [9]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [11]:
data.location= data.location.fillna("Sarjapur Road")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [12]:
data["size"] = data["size"].fillna("2 BHK")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [14]:
data["bath"].median()

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [15]:
data["bath"] = data["bath"].fillna(data["bath"].median())

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [16]:
data.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [17]:
data["bhk"] = data["size"].str.split().str.get(0).astype(int)

data.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

# remove outliers

In [18]:
for column in data.columns:
    print(data[column].unique())

['Electronic City Phase II' 'Chikka Tirupathi' 'Uttarahalli' ...
 '12th cross srinivas nagar banshankari 3rd stage' 'Havanur extension'
 'Abshot Layout']
['2 BHK' '4 Bedroom' '3 BHK' '4 BHK' '6 Bedroom' '3 Bedroom' '1 BHK'
 '1 RK' '1 Bedroom' '8 Bedroom' '2 Bedroom' '7 Bedroom' '5 BHK' '7 BHK'
 '6 BHK' '5 Bedroom' '11 BHK' '9 BHK' '9 Bedroom' '27 BHK' '10 Bedroom'
 '11 Bedroom' '10 BHK' '19 BHK' '16 BHK' '43 Bedroom' '14 BHK' '8 BHK'
 '12 Bedroom' '13 BHK' '18 Bedroom']
['1056' '2600' '1440' ... '1133 - 1384' '774' '4689']
[ 2.  5.  3.  4.  6.  1.  9.  8.  7. 11. 10. 14. 27. 12. 16. 40. 15. 13.
 18.]
[ 39.07 120.    62.   ...  40.14 231.   488.  ]
[ 2  4  3  6  1  8  7  5 11  9 27 10 19 16 43 14 12 13 18]

In [19]:
def convertRange(x):
    
    temp = x.split("-")
    if len(temp) == 2:
        return (float(temp[0]) + float(temp[1])) / 2
    try:
        return float(x)
    except:
        return None

In [20]:
data["total_sqft"] = data["total_sqft"].apply(convertRange)

data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [21]:
for column in data.columns:
    print(data[column].unique())

['Electronic City Phase II' 'Chikka Tirupathi' 'Uttarahalli' ...
 '12th cross srinivas nagar banshankari 3rd stage' 'Havanur extension'
 'Abshot Layout']
['2 BHK' '4 Bedroom' '3 BHK' '4 BHK' '6 Bedroom' '3 Bedroom' '1 BHK'
 '1 RK' '1 Bedroom' '8 Bedroom' '2 Bedroom' '7 Bedroom' '5 BHK' '7 BHK'
 '6 BHK' '5 Bedroom' '11 BHK' '9 BHK' '9 Bedroom' '27 BHK' '10 Bedroom'
 '11 Bedroom' '10 BHK' '19 BHK' '16 BHK' '43 Bedroom' '14 BHK' '8 BHK'
 '12 Bedroom' '13 BHK' '18 Bedroom']
[1056.  2600.  1440.  ... 1258.5  774.  4689. ]
[ 2.  5.  3.  4.  6.  1.  9.  8.  7. 11. 10. 14. 27. 12. 16. 40. 15. 13.
 18.]
[ 39.07 120.    62.   ...  40.14 231.   488.  ]
[ 2  4  3  6  1  8  7  5 11  9 27 10 19 16 43 14 12 13 18]

In [22]:
data["price_per_sqft"] = data["price"] * 10000 / data["total_sqft"]

data.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,369.981061
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,461.538462
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,430.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,624.589086
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,425.000000

In [23]:
data["location"].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: count, Length: 1306, dtype: int64

In [24]:
data["location"] = data["location"].apply(lambda x: x.strip())

location_count = data["location"].value_counts()

In [25]:
location_count_less_than_10 = location_count[location_count<=10]

In [26]:
data["location"] = data["location"].apply(lambda x: "other" if x in location_count_less_than_10 else x)

data["location"].value_counts()

location
other                 2886
Whitefield             541
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

In [27]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+02
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+04
min        1.000000      1.000000      8.000000      1.000000    2.678298e+01
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+02
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+02
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+02
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+06

In [28]:
(data["total_sqft"] / data["bhk"]).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [29]:
data = data[((data["total_sqft"] / data["bhk"]) >=300)]

data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838      630.397936
std     1261.271296      1.077938    152.077329      0.976678      416.223798
min      300.000000      1.000000      8.440000      1.000000       26.782981
25%     1116.000000      2.000000     49.000000      2.000000      421.052632
50%     1300.000000      2.000000     70.000000      3.000000      529.411765
75%     1700.000000      3.000000    115.000000      3.000000      691.666667
max    52272.000000     16.000000   3600.000000     16.000000    17647.058824

In [30]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby("location"):
        m = np.mean(subdf.price_per_sqft)
        
        st = np.std(subdf.price_per_sqft)
        
        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output, gen_df], ignore_index=True)
    return df_output

data = remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.471702     91.286372      2.574896      565.906288
std      880.694214      0.979449     86.342786      0.897649      226.577475
min      300.000000      1.000000     10.000000      1.000000      125.000000
25%     1110.000000      2.000000     49.000000      2.000000      424.489796
50%     1286.000000      2.000000     67.000000      2.000000      517.560074
75%     1650.000000      3.000000    100.000000      3.000000      642.857143
max    30400.000000     16.000000   2200.000000     16.000000     2450.980392

In [31]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby("location"):
        bhk_stats = {}
        
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                "mean": np.mean(bhk_df.price_per_sqft),
                "std": np.std(bhk_df.price_per_sqft),
                "count": bhk_df.shape[0]
            }
        
        for bhk, bhk_df in location_df.groupby("bhk"):
            stats = bhk_stats.get(bhk-1)
            if stats and stats["count"]>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft < (stats["mean"])].index.values)
    
    return df.drop(exclude_indices, axis="index")

In [32]:
data = bhk_outlier_remover(data)

In [33]:
data.describe()

         total_sqft         bath        price          bhk  price_per_sqft
count   7361.000000  7361.000000  7361.000000  7361.000000     7361.000000
mean    1496.942529     2.448173    99.093113     2.500611      612.764014
std      865.781990     1.011515    93.336841     0.929312      240.899721
min      300.000000     1.000000    10.000000     1.000000      130.000000
25%     1096.000000     2.000000    50.000000     2.000000      460.000000
50%     1260.000000     2.000000    73.200000     2.000000      568.000000
75%     1680.000000     3.000000   113.000000     3.000000      689.655172
max    30000.000000    16.000000  2200.000000    16.000000     2450.980392

In [34]:
data.shape

(7361, 7)

In [35]:
data.head()

              location   size  total_sqft  bath  price  bhk  price_per_sqft
0  1st Block Jayanagar  4 BHK      2850.0   4.0  428.0    4     1501.754386
1  1st Block Jayanagar  3 BHK      1630.0   3.0  194.0    3     1190.184049
2  1st Block Jayanagar  3 BHK      1875.0   2.0  235.0    3     1253.333333
3  1st Block Jayanagar  3 BHK      1200.0   2.0  130.0    3     1083.333333
4  1st Block Jayanagar  2 BHK      1235.0   2.0  148.0    2     1198.380567

In [36]:
data.drop(columns=["size", "price_per_sqft"], axis=1, inplace=True)

## Cleaned Data

In [37]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [38]:
data.to_csv("Cleaned_data.csv")

In [39]:
X = data.drop(columns=["price"])
y = data["price"]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


print(X_train.shape)
print(X_test.shape)


column_trans = make_column_transformer((OneHotEncoder(sparse=False), ["location"]), remainder="passthrough")


scaler = StandardScaler()


pipe = make_pipeline(column_trans, StandardScaler(), LinearRegression())

pipe.fit(X_train, y_train)

y_pred_lr = pipe.predict(X_test)

r2_score(y_test, y_pred_lr)


lasso = Lasso()

pipe = make_pipeline(column_trans, scaler, lasso)

pipe.fit(X_train, y_train)


y_pred_lasso = pipe.predict(X_test)
r2_score(y_test, y_pred_lasso)


ridge = Ridge()

pipe = make_pipeline(column_trans, scaler, ridge)

pipe.fit(X_train, y_train)

y_pred_ridge = pipe.predict(X_test)
r2_score(y_test, y_pred_ridge)


print("No Regularization: ", r2_score(y_test, y_pred_lr))
print("lasso: ", r2_score(y_test, y_pred_lasso))
print("ridge: ", r2_score(y_test, y_pred_ridge))


import pickle

pickle.dump(pipe, open("RidgeModel.pkl", "wb"))

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [42]:
print(X_train.shape)
print(X_test.shape)

(5888, 4)
(1473, 4)

## Applying Regression model

In [61]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ["location"]), remainder="passthrough")

In [62]:
scaler = StandardScaler()


pipe = make_pipeline(column_trans, StandardScaler(), LinearRegression())

pipe.fit(X_train, y_train)

/Users/barnabas/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [51]:
y_pred_lr = pipe.predict(X_test)

r2_score(y_test, y_pred_lr)

0.8233666437512608

## Applying lasso

In [52]:
lasso = Lasso()

pipe = make_pipeline(column_trans, scaler, lasso)

pipe.fit(X_train, y_train)

/Users/barnabas/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [53]:
y_pred_lasso = pipe.predict(X_test)
r2_score(y_test, y_pred_lasso)

0.8128285650772719

## Applying Ridge

In [54]:
ridge = Ridge()

pipe = make_pipeline(column_trans, scaler, ridge)

pipe.fit(X_train, y_train)

y_pred_ridge = pipe.predict(X_test)
r2_score(y_test, y_pred_ridge)

/Users/barnabas/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.8234146633312647

In [63]:
print("No Regularization: ", r2_score(y_test, y_pred_lr))
print("lasso: ", r2_score(y_test, y_pred_lasso))
print("ridge: ", r2_score(y_test, y_pred_ridge))

No Regularization:  0.8233666437512608
lasso:  0.8128285650772719
ridge:  0.8234146633312647

In [64]:
import pickle

In [65]:
pickle.dump(pipe, open("RidgeModel.pkl", "wb"))

In [66]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


print(X_train.shape)
print(X_test.shape)


column_trans = make_column_transformer((OneHotEncoder(sparse=False), ["location"]), remainder="passthrough")


scaler = StandardScaler()


pipe = make_pipeline(column_trans, StandardScaler(), LinearRegression())

pipe.fit(X_train, y_train)

y_pred_lr = pipe.predict(X_test)

r2_score(y_test, y_pred_lr)


lasso = Lasso()

pipe = make_pipeline(column_trans, scaler, lasso)

pipe.fit(X_train, y_train)


y_pred_lasso = pipe.predict(X_test)
r2_score(y_test, y_pred_lasso)


ridge = Ridge()

pipe = make_pipeline(column_trans, scaler, ridge)

pipe.fit(X_train, y_train)

y_pred_ridge = pipe.predict(X_test)
r2_score(y_test, y_pred_ridge)


print("No Regularization: ", r2_score(y_test, y_pred_lr))
print("lasso: ", r2_score(y_test, y_pred_lasso))
print("ridge: ", r2_score(y_test, y_pred_ridge))


import pickle

pickle.dump(pipe, open("RidgeModel.pkl", "wb"))

(5888, 4)
(1473, 4)

/Users/barnabas/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/barnabas/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

No Regularization:  0.8233666437512608
lasso:  0.8128285650772719
ridge:  0.8234146633312647

/Users/barnabas/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [67]:
pickled_model=pickle.load(open('RidgeModel.pkl','rb'))

pickled_model

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [79]:
pickled_model.predict(data)

array([335.49733658, 234.77753738, 251.95304375, ..., 111.87698465,
        67.3374232 , 300.44353967])